mat-toolbar {
  background-color: #0f1521;
  z-index: 1000; /* Asegúrate de que el z-index sea mayor que cualquier otro elemento en la página */
  width: 100vw;
  height: 10vh;
  border-bottom: 1.5px solid #ebecee;
  gap: 2em;
  display: flex;
  justify-content: space-between;
}
mat-form-field {
  margin-top: 1em;
  background-color: #0f1521;
}

button {
  background-color: #0f1521;
  box-shadow: none;
  border: none;
  cursor: pointer;
  font-size: large;
  color: #ebecee;
}
.logo {
  width: 60px;
  height: 100%;
  border-radius: 10px;
}
